.raleway-footer {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #320003 !important;
}
footer {
  background-color: #faeff0;
  text-decoration: none !important;
  font-size: 1.125rem;
}
h5 {
  font-size: 1.125rem;
  font-weight: 500;
}
ul {
  list-style: none;
  padding: 0;
}
