@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/maps";

$primary: #faeff0;
$secondary: #cc8084;
$body-color: #513b3c;
$headings-color: #320003;

.bg-transparent {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(251, 243, 244, 1) 33%,
    rgba(252, 244, 245, 1) 66%,
    rgba(255, 255, 255, 0) 100%
  );
}
footer a {
  text-decoration: none !important;
  color: #513b3c !important;
  &:hover {
    color: #b49990;
  }
  &:active,
  &.active {
    color: #8f6b63;
  }
}
@media (min-width: 992px) {
  nav {
    #logo {
      order: 1 !important;
    }
    #navbarNavAltMarkup {
      order: 2 !important;
    }
    #nav-icons {
      order: 3 !important;
    }
  }
}

@media (min-width: 576px) {
  nav.navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    justify-content: flex-start !important;
    padding: 0 !important;
    margin: auto;
  }
  nav {
    #logo {
      order: 2;
    }
    #nav-collapse {
      order: 1;
    }
    #nav-icons {
      order: 3;
    }
    #navbarNavAltMarkup {
      order: 4;
    }
  }
}

@media (max-width: 576px) {
  nav.navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    justify-content: flex-start !important;
  }
  nav {
    min-width: 100vw;
    #logo {
      order: 2;
    }
    #nav-collapse {
      order: 1;
    }
    #nav-icons {
      order: 3;
      display: flex;
      flex-wrap: nowrap !important;
    }
    #navbarNavAltMarkup {
      order: 4 !important;
    }
    .navbar-brand img {
      height: 40px !important;
    }
  }
  footer {
    font-size: 0.8rem !important;
    h5 {
      font-size: 0.8rem !important;
    }
    p {
      display: none;
    }
    img {
      height: 80px !important;
      width: auto;
      display: block;
      margin: 0 auto 0 auto;
    }
    .socials {
      display: flex;
      justify-content: center;
      img {
        height: 24px !important;
      }
    }
  }
}
